* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
  }

.register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-form {
  flex: .3;
  background-color: #eeeeee;
  color: #000000;
  padding: 5rem;
}




.form-image {
  flex: 1;
  width: 1200px;
  height: 900px;
  background-image: url(https://picsum.photos/1200/900);
}



h1 {
  margin: 40px auto;
  color: #0a6cff;
  text-align: center;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  padding: 6px 10px;
  border: 1px solid #eee;
  margin: 10px auto;
}
li h4 {
  color: #0a6cff;
  margin: 0;
  text-transform: capitalize;
}
li p {
  color: #333;
  margin: 8px 0 0;
}

form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}
input,
select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
    width: 70%;
  margin-top: 1rem;
  color: white;
  border: 0;
  background: #0a6cff;
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
}
a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 2rem;
}
