* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  
}

.register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 100%; */
  height: 100vh;
}

.register-form {
  flex: 1;
  background-color: #eeeeee;
  color: #000000;
  padding: 10rem;
  font-size: 1.7rem;
}

.wrapper{ 
    margin: 0 auto;
    flex: 5;
    background-image: url(https://picsum.photos/1200/900);
    background-repeat: "no-repeat";
    background-size: cover;
  }
h1 {
  margin: 40px auto;
  color: #0a6cff;
  text-align: center;
}
ul {
  padding: 5rem;
  list-style-type: none;
}
li {
  padding: 6px 10px;
  border: 2px solid darkred;
  margin-bottom: 10px;
  background-color: cornsilk;
}
li h4 {
  color: #0a6cff;
  margin: 0;
  text-transform: capitalize;
}
li p {
  color: #333;
  margin: 8px 0 0;
}

form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}
input,
select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 2.5rem;
  width: 18rem;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  width: 18rem;
  height: 2.5rem;
  margin-top: 2rem;
  color: white;
  border: 0;
  background: #0a6cff;
  padding: 6px;
  /* min-width: 80px; */
  border-radius: 4px;
}
button:hover {
    cursor: pointer;
}
a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 2rem;
}
